/* Colors derived from Zendesk Garden https://garden.zendesk.com/design/color */
$grey-100: #f8f9f9;
$grey-200: #e9ebed;
$grey-300: #d8dcde;
$grey-400: #c2c8cc;
$grey-500: #87929d;
$grey-600: #68737d;
$grey-700: #49545c;
$grey-800: #2f3941;

$kale-100: #f5fcfc;
$kale-200: #daeded;
$kale-300: #bdd9d7;
$kale-400: #90bbbb;
$kale-500: #467b7c;
$kale-600: #17494d;
$kale-700: #03363d;
$kale-800: #012b30;

$blue-100: #edf7ff;
$blue-200: #cee2f2;
$blue-300: #adcce4;
$blue-400: #5293c7;
$blue-500: #337fbd;
$blue-600: #1f73b7;
$blue-700: #144a75;
$blue-800: #0f3554;

$green-100: #edf8f4;
$green-200: #d1e8df;
$green-300: #aecfc2;
$green-400: #5eae91;
$green-500: #228f67;
$green-600: #038153;
$green-700: #186146;
$green-800: #0b3b29;

$red-100: #fff0f1;
$red-200: #f5d5d8;
$red-300: #f5b5ba;
$red-400: #e35b66;
$red-500: #d93f4c;
$red-600: #cc3340;
$red-700: #8c232c;
$red-800: #681219;

$yellow-100: #fff7ed;
$yellow-200: #ffeedb;
$yellow-300: #fed6a8;
$yellow-400: #ffb057;
$yellow-500: #f79a3e;
$yellow-600: #ed8f1c;
$yellow-700: #ad5918;
$yellow-800: #703815;